[MESSAGES CONTROL]
disable =
    invalid-name,
    locally-disabled,

[REPORTS]
reports = no
msg-template = {C}: {path}:{line}: {symbol} [{obj}] {msg}

[FORMAT]
max-line-length = 120
expected-line-ending-format = LF

# vim:ft=dosini ts=4 sts=4 sw=4 et

