language: python
python:
- "3.2"
- "3.3"
- "3.4"
- "3.5"
- "3.6-dev"
- "3.7-dev"
- pypy3.3-5.2-alpha1
env:
- NG=
- NG=1
dist: trusty
sudo: false
group: beta
addons:
  apt:
    packages:
    - autoconf
    - automake
    - libespeak1
    - libtool
before_install:
- no_pylint=true
- \[ "$TRAVIS_PYTHON_VERSION" = 3.2 ] ||
  [[ "$TRAVIS_PYTHON_VERSION" =~ pypy3 ]] ||
  [[ "$TRAVIS_PYTHON_VERSION" =~ dev ]] ||
  no_pylint=false
install:
- pip install pydiatra
- pip install pyflakes
- $no_pylint || pip install pylint
- pip install docutils
- \[ "$TRAVIS_PYTHON_VERSION" = "3.2" ] || pip install pygments
- \[ ! "$NG" ] || git clone --depth 1 https://github.com/espeak-ng/espeak-ng
- \[ ! "$NG" ] || (cd espeak-ng && ./autogen.sh && ./configure --prefix ~/opt)
- \[ ! "$NG" ] || make -C espeak-ng
- \[ ! "$NG" ] || make -C espeak-ng install
- \[ ! "$NG" ] || export LD_LIBRARY_PATH=$HOME/opt/lib
- \[ ! "$NG" ] || rm -rf espeak-ng
script:
- \[ ! "$NG" ] || python3 anorack --version | grep -w NG
- python3 -m nose --verbose
- private/run-pydiatra
- private/run-pyflakes
- $no_pylint || private/run-pylint
- private/check-rst
- make -C doc

# vim:ts=2 sts=2 sw=2 et
