name: CI
on:
- push
- pull_request
permissions: {}
jobs:
  main:
    strategy:
      matrix:
        include:
        - python-version: '3.8'
          os: ubuntu-22.04
        - python-version: '3.9'
          os: ubuntu-22.04
          ng: ng
        - python-version: '3.10'
          os: ubuntu-22.04
          ng: ng
        - python-version: '3.11'
          os: ubuntu-22.04
        - python-version: '3.12'
          os: ubuntu-22.04
        - python-version: '3.13'
          os: ubuntu-24.04
        - python-version: '3.14'
          os: ubuntu-24.04
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v4
    - name: set up Python ${{matrix.python-version}}
      uses: actions/setup-python@v5
      with:
        python-version: ${{matrix.python-version}}
    - name: set up APT
      run: |
        printf 'Apt::Install-Recommends "false";\n' | sudo tee -a /etc/apt/apt.conf
        sudo apt-get update
    - name: install eSpeak
      run: |
        sudo apt-get install libespeak${{matrix.ng && '-ng'}}1
    - name: run tests
      run: |
        make test
      # may time out because of <https://bugs.python.org/issue35866>
      timeout-minutes: 1
    - name: run pydiatra
      run: |
        python3 -m pip install pydiatra
        python3 -m pydiatra -v .
    - name: run pyflakes
      run: |
        python3 -m pip install pyflakes
        python3 -m pyflakes .
    - name: run pylint
      run: |
        python3 -m pip install pylint
        private/run-pylint
    - name: build docs
      run: |
        python3 -m pip install docutils
        make -C doc
    - name: check docs
      run: |
        python3 -m pip install pygments
        make -C doc check
    - name: install
      run:
        make install PREFIX=~/.local
    - name: check if the executable was installed correctly
      run: |
        cd /
        anorack --version
        anorack < /dev/null
    - name: check if the man page was installed correctly
      env:
        MANPATH: /home/runner/.local/share/man
        MANWIDTH: 80
      run: |
        cd /
        man 1 anorack | grep -A 10 -iw ANORACK

# vim:ts=2 sts=2 sw=2 et
